<configuration>
    <property name="LOG_DIR" value="./logs"/>
    <property name="ROOT_LOG_FILE" value="${LOG_DIR}/root.log"/>
    <property name="API_LOG_FILE" value="${LOG_DIR}/api.log"/>

<!--    <Appenders>-->
<!--        <Console name="CONSOLE" target="System.out">-->
<!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>-->
<!--        </Console>-->

    <appender name="ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ROOT_LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/root.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="KIOSK" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${API_LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/api.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="root" level="INFO">
        <appender-ref ref="ROOT"/>
    </logger>

    <logger name="com.ivy.kiosk.controller.user.UserController" level="INFO">
        <appender-ref ref="KIOSK"/>
    </logger>

    <logger name="com.ivy.kiosk.controller.user.card.CardController" level="INFO">
        <appender-ref ref="KIOSK"/>
    </logger>

    <logger name="com.ivy.kiosk.controller.movie.MovieController" level="INFO">
        <appender-ref ref="KIOSK"/>
    </logger>

    <logger name="com.ivy.kiosk.controller.manager.ManagerController" level="INFO">
        <appender-ref ref="KIOSK"/>
    </logger>

    <logger name="com.ivy.kiosk.service.user.UserService" level="INFO">
        <appender-ref ref="KIOSK"/>
    </logger>

    <logger name="com.ivy.kiosk.service.card.CardService" level="INFO">
        <appender-ref ref="KIOSK"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="ROOT"/>
    </root>

</configuration>
